body {
    background-color: crimson; font-family: Arial, sans-serif;
}
h1{
    color: green; 
}
a{
    text-decoration: 0;
    color: inherit;
    background-color: ivory;
}

a:hover{
    color: rgb(9, 124, 170);
}

li:hover{
    font-weight: bold
}