<!DOCTYPE html>
<html lang="es">
    <%- include('head',{title: 'Inicio' }) %>
    <%- include('header') %>
<body>
    <ul>
        <li>
            <%= nombre %>
        </li>
    </ul>
</body>

</html>