*{
    margin:0 ;
    box-sizing: border-box;
}
header{
    text-align: center;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    height: 50px;
    background-color: darkmagenta;
    border-bottom-style: solid;
}
#aside1{
    padding-top: 20px;
    position: absolute;
    left: 0%;
    top: 50px;
    background-color: crimson;
    width: 20%;
    display: inline-block;
    padding-left: 1%;
    vertical-align: top;
    bottom: 0px;
    scroll-behavior: auto;
    overflow: auto;
    border-right-style: solid;
}
#aside2{
    padding-top: 20px;
    position: absolute;
    right: 0%;
    top: 50px;
    background-color: darkmagenta;
    width: 20%;
    display: inline-block;
    padding-left: 1%;
    vertical-align: top;
    bottom: 0px;
    scroll-behavior: auto;
    overflow: auto;
    border-right-style: solid;
}
main{
    font-family: sans-serif;
    padding-top: 20px;
    position: absolute;
    right: 0%;
    top: 50px;
    bottom: 40px;
    background-color: darkslategrey;
    width: 80%;
    display: inline-block;
    border-width: 1px;
    padding-left: 1%;
    overflow: auto;
}
footer{
    background-color: dimgrey;
    position: absolute;
    bottom: 0%;
    right: 0%;
    left: 0%;
    height: 40px;
    left: 20%;
}
