* {
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
header {
    background-color: teal;
    height: 50px;
    width: 100%;
    padding-right: 20px;
}

header>h1 {
    align-self: center;
    text-align: center;
    width: 100%;
    flex-basis: 100%;
}

header>img {
    height: 50px;
    position: absolute;
    right: 0;
}

nav {
    display: flex;
    background-color: thistle;
    height: 100px;
    width: 100%;
}

nav>a {
    display: flex;
    width: 100%;
    margin: 5px;
    align-content: center;
}

nav>a span {
    display: none;
}

nav>a img {
    width: 100%;
}
main{
    height: calc(100vh - 100px );
    width: 100%;
    background-color: darkolivegreen;
}
main section{
    display: flex;
    height: 30%;
    width: 100%;
    justify-content: center;
}
main section h1{
    position: absolute;
    text-align: center;
}
#audios{
    position: relative;
    padding-bottom: 10px;
}
main section audio{
    height: 20px;
}
main section video{
    width: 50%;
    height: 100%;
    align-self: center;
    padding: 5px;
}
#S1 {
    background-color: crimson;
    flex-direction: column;
}

#S2{
    background-color: lightseagreen;
    
}
#S2>h3{
    position: absolute;
    padding-top: 15px;
}
#tigre{
    padding-left: 200px;
}
#peces{
    padding-right: 200px;
}
#S3 {
    background-color: mediumblue;
}
iframe{
    height: 80%;
    padding-top: 30px;
    margin: 5px;
    width: 45%;
}
aside {
    display: flex;
    background-color: yellow;
    height: 100px;
    width: 100%;
    bottom: 0;
    position: fixed;
}

aside>a {
    display: flex;
    width: 100%;
}

aside>a img {
    display: flex;
    width: 100%;
    padding: 10px;
}

aside>a span {
    display: none;
}

footer {
    display: none;
}
