/* General */
* {
    margin: 0;
    box-sizing: border-box;
}
/* Versión de móvil */
    body {
        

    }
    header {
        background-color: teal;
        height: 50px;
        width: 100%;
        padding-right: 20px;
    }
    header>h1 {
        align-self: center;
        text-align: center;
        width: 100%;
        flex-basis: 100%;
    }
    header>img {
        height: 50px;
        position: absolute;
        right: 0;
    }
    nav {
        display: flex;
        background-color: thistle;
        height: 85px;
        width: 100%;
    }
    nav>a {
        display: flex;
        width: 100%;
        margin: 5px;
        align-content: center;
    }
    nav>a span {
        display: none;
    }
    nav>a img {
        width: 100%;
    }
    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: darkolivegreen;
    }
    main section {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 30vh;
        justify-content: center;
    }
    main section h1 {
        position: absolute;
        text-align: center;
    }
    #audios {
        position: relative;
        padding-bottom: 10px;
    }
    main section audio {
        height: 20px;
    }
    main section video {
        flex-basis: 50%;
        align-self: center;
        padding: 5px;
        padding-top: 40px;
        
    }
    #S1 {
        background-color: crimson;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #S2 {
        background-color: lightseagreen;
        columns: 2;
    }
    #S2>h3 {
        position: absolute;
        padding-top: 40px;
    }
    #tigre {
        padding-left: 200px;
    }
    #peces {
        padding-right: 200px;
    }
    #S3 {
        background-color: mediumblue;
        columns: 3;
    }
    #S3 h3{
        width: 30%;
        text-align: center;
        padding-bottom: 100px;

    }
    iframe {
        height: 50%;
        padding-top: 25px;
        margin: 5px;
        width: 30%;
    }
    aside {
        display: flex;
        background-color: yellow;
        height: 85px;
        width: 100%;
        bottom: 0;
        position: fixed;
    }
    aside>a {
        display: flex;
        width: 100%;
    }
    aside>a img {
        display: flex;
        width: 100%;
        padding: 10px;
    }
    aside>a span {
        display: none;
    }
    footer {
        display: none;
    }

@media(min-width: 430px) {
    body {
        background-color: deeppink;
    }
}