ul{
    padding: 0;
    list-style: none;
}

ul ul{
    display: none;
}

li{
    background-color: darkgrey;
    width: 100px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: black;    
}

li:hover > ul{
    display: block;
}

ul>li>ul>li{
    border: none;
    background-color: unset
}